* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #20262E;

    font-family: monospace;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    align-content: center;

    justify-items: center;
    align-items: center;

    height: 100vh;
}

.box {
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;

    cursor: pointer;
    color: #CD5888;
}

.placeholder1,
.placeholder4,
.placeholder7,
.placeholder2,
.placeholder5,
.placeholder8 {
    border-right: 0.25rem solid #E9E8E8;
}

.placeholder1,
.placeholder2,
.placeholder3,
.placeholder4,
.placeholder5,
.placeholder6 {
    border-bottom: 0.25rem solid #E9E8E8;
}